@font-face {
  font-family: "iconfont"; /* Project id 2841027 */
  src: url('https://at.alicdn.com/t/font_2841027_pt18bzbcwld.woff2?t=1635390986978') format('woff2'),
       url('https://at.alicdn.com/t/font_2841027_pt18bzbcwld.woff?t=1635390986978') format('woff'),
       url('https://at.alicdn.com/t/font_2841027_pt18bzbcwld.ttf?t=1635390986978') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-tuisongxiaoxi1:before {
  content: "\e602";
}

.icon-comment:before {
  content: "\e61a";
}

.icon-like:before {
  content: "\e61b";
}

.icon-arrow-r:before {
  content: "\e619";
}

.icon-ditu:before {
  content: "\e618";
}

.icon-go:before {
  content: "\e601";
}

.icon-yiwancheng:before {
  content: "\e617";
}

.icon-zhankai:before {
  content: "\e616";
}

.icon-sub:before {
  content: "\e614";
}

.icon-add:before {
  content: "\e615";
}

.icon-notice:before {
  content: "\e613";
}

.icon-lock:before {
  content: "\e612";
}

.icon-user:before {
  content: "\e611";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-daifukuan:before {
  content: "\e609";
}

.icon-daipingjia:before {
  content: "\e60a";
}

.icon-a-dizhi2:before {
  content: "\e60b";
}

.icon-shezhi:before {
  content: "\e60c";
}

.icon-daifuwu:before {
  content: "\e60d";
}

.icon-dadianhua:before {
  content: "\e60e";
}

.icon-zhidian:before {
  content: "\e60f";
}

.icon-daohang:before {
  content: "\e610";
}

.icon-back:before {
  content: "\e605";
}

.icon-dizhi:before {
  content: "\e603";
}

.icon-a-sousuo1:before {
  content: "\e604";
}
